<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav nav-tabs">
      <% if(locals.user && !locals.user.isAdmin){ %>
      <li class="nav-item">
        <a href="/users/logout" class="nav-link link-dark px-2 nav-pills"
          >Log Out</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2"><%= user.name %></a>
      </li>
      <% }else if(locals.user && locals.user.isAdmin){ %>
      <li class="nav-item">
        <a href="/admin/admin-page" class="nav-link">Assign-Review</a>
      </li>
      <li class="nav-item">
        <a href="/admin/view-employees" class="nav-link">Employees</a>
      </li>
      <li class="nav-item">
        <a href="/users/register" class="nav-link">Register</a>
      </li>
      <li class="nav-item">
        <a href="/users/logout" class="nav-link">Log Out</a>
      </li>
      <% }else{ %>
      <li class="nav-item">
        <a href="/users/login" class="nav-link link-dark px-2">Log In</a>
      </li>

      <% } %>
    </ul>
  </div>
</nav>
